#game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f0f0;
}

#grid-container {
    display: grid;
    grid-template-columns: repeat(16, 2rem);
    grid-template-rows: repeat(16, 2rem);
    gap: 0;
   
}

.default-grid-cell {
    width: 2rem;
    height: 2rem;
    box-sizing: border-box;
    border: 1px solid #b0b0b0;
}

/* State: Snake Head */
.default-grid-cell.state-snake-head {
    content: url("resources/snakeHead.svg");
}

/* State: Snake Body */
.default-grid-cell.state-snake-body {
    content: url("resources/snakeBody.svg");
}

/* State: Food */
.default-grid-cell.state-food {
    /* content: url("resources/food.svg"); */
    background-color: red;
}


#score, #high-score {
    font-family: Arial, sans-serif;
    font-size: 1.5rem;
    margin: 0.5rem;
}
#score-container {
    display: flex;
    justify-content: space-between;
    width: 20rem;
    margin-bottom: 1rem;
}
#game-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

